<div align="center">

![Logo]((https://via.placeholder.com/350x80))

# {{.Name}}

[Overview](#overview)
•
[Screenshot](#screenshot)
•
[Demo](#demo)
•
[Documentation](#documentation)

</div>

## Menu

- [Overview](#overview)
- [Screenshot](#screenshot)
- [Demo](#demo)
- [Documentation](#documentation)
- [Requirements](#requirements)
- [Installation and usage](#installation-and-usage)
  - [Tests](#tests)
  - [Dependencies and libs](#dependencies-and-libs)
  - [Folder Structure](#folder-structure)
- [Contributing](#contributing)
  - [Tasks](#tasks)

## Overview

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut praesentium neque assumenda! Tempore culpa nihil laborum distinctio vel, illo quod veniam. Excepturi soluta beatae sed iusto sunt, impedit ducimus dignissimos?

## Screenshot

![Logo](https://via.placeholder.com/750x500)

## Demo

Lorem ipsum dolor sit amet consectetur, adipisicing elit.

| url                      |
| ------------------------ |
| http://exemplo.com/admin |

## Documentation

Documentation lives in the `/docs` folder.

## Requirements

- [Node](https://nodejs.org/en/download/)

## Installation and usage

```shell
git clone https://github.com/svx/{{.Name}}
```

### Tests

``` shell
npm run test
```

### Dependencies and libs

- [React](https://pt-br.reactjs.org/docs/create-a-new-react-app.html)
- [React PDF](https://react-pdf.org/)

### Folder Structure

```shell
.
├── src           # Project source code
├── doc           # Doc for the project
├── .gitignore
├── LICENSE
└── README.md
```

## Contributing

<details open>
<summary> Steps to contribute: </summary>

- Fork it (https://github.com/yourname/yourproject/fork);
- Create your feature branch (git checkout -b feature/fooBar);
- Commit your changes (git commit -am 'Add some fooBar');
- Push to the branch (git push origin feature/fooBar);
- Create a new Pull Request;

</details>

### Tasks

<details open>
<summary> Task list: </summary>

- [ ] Task 1
- [x] Task 2
- [x] Task 3
- [ ] Task 4

</details>

## License

The [MIT License]() (MIT)
